* {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

body {
	font-weight: normal;
	font-style: normal;
	font-family: sans-serif;
	background-color: #fff;
	line-height: 1.5;
}

img {
	max-width: 100%;
}

@font-face {
  font-family: ramaraja;
  src: url('../fonts/ramaraja-regular.ttf2') format('ttf2'),
  url('../fonts/ramaraja-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

/* Header Area */
 
.header-area {
	width: 100%;
	padding: 36px 0;
	font-size: 0;
}

.header-area .container:after {
	content: '';
	display: table;
	clear: both;
}
.logo{
	float: left;
	width: 130px;
}

.nav-left {
	float: left;
}

.nav-right {
	float: right;
}

.nav-menu {
	padding: 0;
}

.nav-list {
	float: left;
	list-style: none;
	margin-right: 40px;
	text-transform: capitalize;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	text-align: left;
}

.nav-list:last-child {
	margin-right: 0;
}

.nav-link {
	text-decoration: none;
	color: #1B0A42;
	-webkit-transition: .2s linear;
	-ms-transition: .2s linear;
	-moz-transition: .2s linear;
	-o-transition: .2s linear;
	transition: .2s linear;
}
.nav-link:hover {
	color: #4F56F1;
}

.nav-link .active {
	color: #4F56F1;
}

.button {
	min-width: 115px;
	text-decoration: none;
	outline: none;
	padding: 18px 28px;
	color: #fff;
	border-radius: 6px;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

/* /Header Area */

/* Banner Area*/

.banner-area {
	width: 100%;
	padding: 100px 0;
	font-size: 0;
}

.banner-text {
	display: inline-block;
	vertical-align: middle;
	width: 600px;
	padding-right: 40px;
}

.banner-img {
	display: inline-block;
	vertical-align: middle;
	width: 600px;
}

.banner-img img {
	display: block;
}

.banner-title {
	margin: 0 0 44px;
	font-family: 'Ramaraja', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 60px;
	line-height: 76px;
	letter-spacing: 0.02em;
	color: #1B0A42;
}

.banner-desc {
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0.02em;
	color: #9A9A9A;
	margin: 0 0 44px;
}

.banner-btn {
	display: inline-block;
	text-decoration: none;
	outline: none;
	min-width: 180px;
	color: #fff;
	padding: 14px 48px;
	border-radius: 6px;
	text-transform: capitalize;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

/* /Banner Area */

/* Button Colors */

.home {
	background-color: #4F56F1;
	border: 1px solid #4F56F1;
}

.home:hover {
	color: #4F56F1;
	background-color: transparent;
}

.about {
	background-color: #824FF1;
	border: 1px solid #824FF1;
}

.about:hover {
	color: #824FF1;
	background-color: transparent;
}

.blog {
	background-color: #A3DC00;
	border: 1px solid #A3DC00;
}

.blog:hover {
	color: #6F920D;
	background-color: transparent;
}

.contact {
	background-color: #FC569A;
	border: 1px solid #FC569A;
}

.contact:hover {
	color: #FC569A;
	background-color: transparent;
}

.sign {
	background-color: #33A2E0;
	border: 1px solid #33A2E0;
}

.sign:hover {
	color: #33A2E0;
	background-color: transparent;
}

/* /Button Colors */