extends ../templates/default.pug

block siteHead
  -
    menu = 'contact'
    titleWeb = 'Contact'
    descWeb = 'Contact'
    btnHeader = 'contact';

block siteContent
  -
    title = 'Contact & <br> Work Remotely'
    desc = 'The key to work-from-home success is to create an enviroment that allows you to focus on the tasks at hand. Whether you are working from home for the first time.'
    image = 'assets/img/banner-4.png'
    btnClass = 'contact'
    alt = 'banner contact';
  include ../components/banner.pug
