CSS Table
--

.selector(table){
	border-collapse: separate (Default) | collapse;
	border-spacing: units (length)  ["must seperate"];
	caption-side: top (Default) | bottom;
	empty-cells: show (Default) | hide;
	table-layout: auto (Default) | fixed;
}

/*==============================================*/