extends ../templates/default.pug

block siteHead
  -
    menu = 'hubungi-kami'
    titleWeb = 'Hubungi Kami'
    descWeb = 'Hubungi Kami';


block siteContent
  -

  include ../layouts/contact-us.pug


