extends ../templates/default.pug

block siteHead
  -
    menu = 'RZF Software | Profesional Application Developer'
    titleWeb = '| adalah'
    descWeb = 'Order'

block siteContent
  -
  include ../layouts/header.pug
  include ../components/form-checkout.pug
  include ../layouts/footer.pug
