extends ../templates/default.pug

block siteHead
  -
    menu = 'deskripsi produk'
    titleWeb = 'Deskripsi Produk'
    descWeb = 'Deskripsi Produk';


block siteContent
  -

  include ../layouts/product-detail.pug
  include ../layouts/modal.pug


