//carousel

.ax-practice
  .container
    h2.ax-practice__title Latihan 7
    ul.ax-practice__list
      li Membuat Carousel
    .carousel
      .slide-c
        .slide-c__list
          .slide-c__box
            .slide-c__item
              p box 1
              img(src="assets/img/background/news-and-promo-4.jpg", alt="about")/
            .slide-c__item
              p box 2
              img(src="assets/img/background/news-and-promo-5.jpg", alt="about")/
            .slide-c__item
              p box 3
              img(src="assets/img/background/news-and-promo-6.jpg", alt="about")/
            .slide-c__item
              p box 4
              img(src="assets/img/background/news-and-promo-7.jpg", alt="about")/
            .slide-c__item
              p box 5
              img(src="assets/img/background/news-and-promo-2.jpg", alt="about")/
            .slide-c__item
              p box 6
              img(src="assets/img/background/news-and-promo-1.jpg", alt="about")/
        .slide-c__pagination
          button.slide-c__btn--next.js-slide-nav(type="button") next
          button.slide-c__btn--prev.js-slide-nav(type="button") prev