//data-table

.ax-practice
  .container
    h2.ax-practice__title Latihan 2
    ul.ax-practice__list
      li Menampilkan data objects dari javascript ke table
    .data-table
      table.table.table-striped
        thead
          tr
            td No
            td Nama Barang
            td Harga Barang
        tbody#dataBarang