//dropdown

.ax-practice
  .container
    h2.ax-practice__title Latihan 13
    ul.ax-practice__list
      li Membuat Dropdown
    .ax-practice-dropdown
      ul
        li
          a(href="#") Home
        li.has-dropdown
          button.js-dropdown-button(type="button") Layanan
          ul
            li
              a(href="#") Antar
            li
              a(href="#") Jemput
        li
          a(href="#") Contact
        li.has-dropdown
          button.js-dropdown-button(type="button") Produk
          ul
            li
              a(href="#") Makanan
            li
              a(href="#") Minuman
            li
              a(href="#") Kue
        li
          a(href="#") FAQ