//form-validation

.ax-practice
  .container
    h2.ax-practice__title Latihan 5
    ul.ax-practice__list
      li form validation
      li nama (required)
      li email (required, email valid)
      li password (required, lebih besar atau sama dengan 8)
      li no_tlp (required, oninput harus angka)
    .form-validation
      form(action="proses.php", autocomplete="off")
        .form-group
          label(for="usr") Nama
          input#nama.form-control(type="text", name="name", data-target="alertNama")/
          p#alertNama.alert.alert-danger.d-none(data-req="Nama harus di isi")
        .form-group
          label(for="usr") Email
          input#email.form-control(type="text", name="email", data-target="alertEmail")/
          p#alertEmail.alert.alert-danger.d-none(data-req="Email harus di isi", data-invalid-email="Email tidak sesuai")
        .form-group
          label(for="usr") Kota
          input#kota.form-control(type="text", name="kota", data-target="alertKota")/
          p#alertKota.alert.alert-danger.d-none(data-req="Kota harus di isi")
        .form-group
          label(for="usr") Desa
          input#desa.form-control(type="text", name="desa", data-target="alertDesa")/
          p#alertDesa.alert.alert-danger.d-none(data-req="Desa harus di isi")
        .form-group
          label(for="usr") Password
          input#password.form-control(type="password", name="password", data-target="alertPassword")/
          p#alertPassword.alert.alert-danger.d-none(data-req="Password harus di isi", data-min="Password harus 2 karakter atau lebih")
        .form-group
          label(for="usr") Telepon
          input#telepon.form-control.number-only(type="text", name="phone", data-target="alertTelepon")/
          p#alertTelepon.alert.alert-danger.d-none(data-req="Telepon harus di isi", data-invalid-phone="Telepon tidak sesuai")
        .form-group
          button#submit.btn.btn-success.btn-block(type="submit") Kirim