//popup

.ax-practice
  .container
    h2.ax-practice__title Latihan 8
    ul.ax-practice__list
      li Membuat Popup Dinamis Konten
    .popup.mt-5.pt-5.mb-5.pb-5
      .team
        .team__list.js-team
      .popup-team.js-popup-team
        .popup-team__box
          button.popup-team__close.close.js-close-team(type="button") &times;
          .popup-team__body
            .popup-team__img
              img(src="" alt="")/
            h3.popup-team__name
            p.popup-team__position
            ul.popup-team__socmed
            .popup-team__text