//same-height

.ax-practice
  .container
    h2.ax-practice__title Latihan 10
    ul.ax-practice__list
      li Membuat konten dengan tinggi yang sama
    .same-height
      .card-list
        .card-item
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium perspiciatis, maiores, eveniet deleniti repudiandae doloremque eum nemo porro debitis ducimus eaque similique quod! Placeat error ipsam ea consectetur officiis at.
        .card-item
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium perspiciatis, maiores, eveniet deleniti repudiandae doloremque eum nemo porro debitis ducimus eaque similique quod! Placeat error ipsam ea consectetur officiis at.
        .card-item
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium perspiciatis, maiores, eveniet deleniti repudiandae doloremque eum nemo porro debitis ducimus eaque similique quod! Placeat error ipsam ea consectetur officiis at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium perspiciatis, maiores, eveniet deleniti repudiandae doloremque eum nemo porro debitis ducimus eaque similique quod! Placeat error ipsam ea consectetur officiis at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium perspiciatis, maiores, eveniet deleniti repudiandae doloremque eum nemo porro debitis ducimus eaque similique quod! Placeat error ipsam ea consectetur officiis at.