//search

.ax-practice
  .container
    h2.ax-practice__title Latihan 14
    ul.ax-practice__list
      li Menampilkan data ketika search
    .ax-practice-search
      .ax-practice-search__form
        form(action="#" autocomplete="off")
          input(type="text" class="form-control js-search-data" name="keywords")/
      ul.ax-practice-search__result