//show-hide

.ax-practice
  .container
    h2.ax-practice__title Latihan 6
    ul.ax-practice__list
      li Show / Hide
    .show-hide
      button.btn.btn-success.d-block.js-show-hide(type="button") Hide
      img.banner(src="assets/img/background/about-1.jpg", alt="about")/