//toast

.ax-practice
  .container
    h2.ax-practice__title Latihan 12
    ul.ax-practice__list
      li Membuat Toast
    .ax-practice-toast
      .alert.alert-success
        button.close.js-remove-toast(type='button') &times;
        p
          strong Selamat! 
          | anda mendapatkan mobil mewah.
      .alert.alert-danger
        button.close.js-remove-toast(type='button') &times;
        p
          strong Gagal! 
          | anda belum beruntung.