//todolist

.ax-practice
  .container
    h2.ax-practice__title Latihan 9
    ul.ax-practice__list
      li Membuat Todolist
    .todolist
      form.mb-4(autocomplete="off")
        input.form-control.js-todolist(type="text", name="nama")/
      .todolist__list