// Grid
@mixin grid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
// Clearfix
@mixin clearfix {
  &::after{
    content: '';
    display: table;
    clear: both;
  }
}
// Transition
@mixin transition($value: all .2s ease) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}
// Transform
@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}
// Box-shadow
@mixin shadow($value) {
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  -ms-box-shadow: $value;
  box-shadow: $value;
}
// Border-radius
@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
  -o-border-radius: $value;
  border-radius: $value;
}
// Responsive
@mixin large {
  @media screen and (max-width: $large) {
    @content;
  }
}

@mixin medium {
  @media screen and (max-width: $medium) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: $small) {
    @content;
  }
}

@mixin extra-small {
  @media screen and (max-width: $extra-small) {
    @content;
  }
}

@mixin retina {
  @media screen and (max-width: $retina) {
    @content;
  }
}