// Product Collection Area
.product-collection-area
  .container
    .wrapper.m-0
      .col-6.float-left
        .single__card.pr-4
          .section-title
            h2 Cosmetics Collections
          .single__card__image
            img(src="assets/images/cosmetics/cosmetics.jpg" alt="")/
            a.btn.second(href='kosmetik-category.html') See More
      .col-6
        .wrapper.ml-0
          .col-6.col-md-6
            .card
              .card__soldout
                span Sold out
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/cosmetics/1.png" alt="")/
              .card__text
                h4.card__text_name COSMETICS KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
          .col-6.col-md-6
            .card
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/cosmetics/2.png" alt="")/
              .card__text
                h4.card__text_name COSMETICS KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
          .col-6.col-md-6
            .card
              .card__soldout
                span Sold out
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/cosmetics/3.png" alt="")/
              .card__text
                h4.card__text_name COSMETICS KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
          .col-6.col-md-6
            .card
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/cosmetics/4.png" alt="")/
              .card__text
                h4.card__text_name COSMETICS KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
// End Product Collection