// Feature Area
.product-collection-area.feature
  .container
    .section-title
      h2 Featured Collections
    .wrapper
      .feature__list#scrollbar
        .feature__card
          a.feature__card_link(href='hijab.html')
          .feature__card_img
            img(src="assets/images/feature/hijab.png" alt="")/
            .feature__card_text
              h4.feature__card_text_desc Hijab
        .feature__card
          a.feature__card_link(href='gamis.html')
          .feature__card_img
            img(src="assets/images/feature/gamis.png" alt="")/
            .feature__card_text
              h4.feature__card_text_desc Gamis
        .feature__card
          a.feature__card_link(href='kosmetik.html')
          .feature__card_img
            img(src="assets/images/feature/cosmetics.png" alt="")/
            .feature__card_text
              h4.feature__card_text_desc Cosmetics
// End Feature Area

