// Footer Area
.footer-area
  .container
    .footer-logo
      .footer-img
        a(href='index.html')
          img(src='assets/images/logo/logo.png' alt='Logo Fas Cosmetics')/
      .footer-text
      p.copy-right &copy; Copyright 2021 RZF Software
    .footer-menu
      .row-footer
        ul.menu-item
          li
            h4 HUBUNGI KAMI
          li
            p
              | Jl. Otto Iskandardinata  No.28, Pegagan Kec. Palimanan, Kabupaten Cirebon, Jawa Barat 45161
            p Telp: +6289518792244 
        ul.menu-item
          li
            h4 PRODUK
          li
            a(href='gamis.html') Gamis
          li
            a(href='hijab.html') Hijab
          li
            a(href='kosmetik.html') Cosmetics
        ul.menu-item
          li
            h4 LAINNYA
          li
            a(href='promo.html') Promo
          li
            a(href='hubungi-kami.html') Hubungi Kami
        ul.menu-item
          li
            h4 IKUTI KAMI
          li
            a(href='https://www.facebook.com/fas.mode.5' target='_blank')
              i.footer-icon.fa.fa-facebook
              | Facebook
          li
            a(href='https://shopee.co.id/fas_mode' target='_blank')
              img(src="assets/images/icon/shopee-solid.png" alt="Logo Shopee" class="footer-icon")/
              | Shopee
          li
            a(href='https://www.instagram.com/fasaseefa19/' target='_blank')
              img(src="assets/images/icon/ig.png" alt="Logo Instagram" class="footer-icon")/
              | Instagram
// End Footer Area