// Gamis Category
.block-section
  .container
    .wrapper
      .section-title
        h2 Gamis
      .col-3
        include ../layouts/sidebar.pug
      .col-9
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/gamis/gamis1.jpg" alt="")/
            .card__text
              h4.card__text_name GAMIS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/gamis/gamis2.jpg" alt="")/
            .card__text
              h4.card__text_name GAMIS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/gamis/gamis3.jpg" alt="")/
            .card__text
              h4.card__text_name GAMIS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/gamis/gamis4.jpg" alt="")/
            .card__text
              h4.card__text_name GAMIS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/gamis/gamis5.jpg" alt="")/
            .card__text
              h4.card__text_name GAMIS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/gamis/gamis6.jpg" alt="")/
            .card__text
              h4.card__text_name GAMIS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/gamis/gamis7.jpg" alt="")/
            .card__text
              h4.card__text_name GAMIS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/gamis/gamis8.jpg" alt="")/
            .card__text
              h4.card__text_name GAMIS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/gamis/gamis9.jpg" alt="")/
            .card__text
              h4.card__text_name GAMIS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-12
          .pagination
            ul.pagination__list
              li(class='page-item active')
                a.page-link(href='#') 1
              li(class='page-item')
                a.page-link(href='#') 2
              li(class='page-item')
                a.page-link(href='#' rel='next')
                  i.fa.fa-chevron-right(aria-hidden='true')


// Gamis Category
  



