// Header Area
.header-area
  .container
      h1.header-title Aplikasi Toko Retail
      p.header-desc Software aplikasi yang didesain khusus untuk toko dengan penjualan langsung pada konsumen atau eceran
// end Header area