<!-- Header -->
.header
  .container
    .header__nav
      .header__logo
        a(href='index.html')
          img(src='assets/img/icon/logo.svg' alt='Trafalgar Logo')
      ul.header__menu
        li.header__item
          a.header__link(href='#') Home
        li.header__item
          a.header__link(href='#') Find a Doctor
        li.header__item
          a.header__link(href='#') Apps
        li.header__item
          a.header__link(href='#') Testimonial
        li.header__item
          a.header__link(href='#') About us
      button.burger-menu.js-mobile-menu
        span.burger-menu__bar
        span.burger-menu__bar
        span.burger-menu__bar
  .header__overlay-menu
<!-- End Header -->
