// Header Area
.header
  .header__top
    .container
      .header__top_contact
        ul
          li(data-aos='fade-down' data-aos-duration='400')
            a(href='tel:089518792244')
              i.fa.fa-phone
              span +6289518792244
          li(data-aos='fade-down' data-aos-duration='500')
            a(href='mailto:fasaseefa19@gmail.com')
              i.fa.fa-envelope 
              span fasaseefa19@gmail.com
      .header__top_sosmed
        ul
          li
            p(data-aos='fade-down' data-aos-duration='500' data-aos-delay='200') Follow Kami :
          li(data-aos='fade-down' data-aos-duration='600' data-aos-delay='200')
            a(href="https://www.instagram.com/fasaseefa19/")
              i.fa.fa-instagram
          li(data-aos='fade-down' data-aos-duration='700' data-aos-delay='200')
            a(href="https://www.facebook.com/fas.mode.5")
              i.fa.fa-facebook
          li(data-aos='fade-down' data-aos-duration='800' data-aos-delay='200')
            a(href="https://api.whatsapp.com/send?phone=089518792244&text=Saya%20tertarik%20untuk%20membeli%20produk%20ini%20segera.")
              i.fa.fa-whatsapp
          li(data-aos='fade-down' data-aos-duration='900' data-aos-delay='200')
            a(href='https://shopee.co.id/fas_mode')
              img(src="assets/images/icon/shopee.png" alt="Logo Shoppee" class="sosmed-icon")
  .header__nav
    .container
      .nav
        a.header__nav_logo(href='index.html')
          img(src='assets/images/logo/logo.png' alt='logo')/
        ul.header__nav_menu
          li.header__nav_item
            a.header__nav_link(href='index.html' class=(menu == 'beranda' ? 'active' : '')) Beranda
          li.header__nav_item
            a.header__nav_link(href='gamis.html' class=(menu == 'gamis' ? 'active' : '')) Gamis
          li.header__nav_item
            a.header__nav_link(href='hijab.html' class=(menu== 'hijab' ? 'active' : '')) Hijab
          li.header__nav_item
            a.header__nav_link(href='kosmetik.html' class=(menu == 'kosmetik' ? 'active' : '')) Cosmetics
          li.header__nav_item
            a.header__nav_link(href='promo.html' class=(menu == 'promo' ? 'active' : '')) Promo
          li.header__nav_item
            a.header__nav_link(href='hubungi-kami.html' class=(menu == 'hubungi-kami' ? 'active' : '')) Hubungi Kami
        .header__nav_right
          span.header__nav_search.icon-search.js-show-button
        a.mobile-menu
          span
        .search.js-search-show
          form(action="#" method="POST" autocomplete="off")
            button(type="submit").search__left
              i.icon-search_left
            input.search__input(type="text" placeholder="Cari apa sist?" name="produk")
            button(type="button" class="js-close").search__right
              i.icon-close
.overlay

// end Header area