// Product Collection Area
.product-collection-area
  .container
    .wrapper.m-0
      .col-6.float-right
        .single__card.pl-4
          .section-title
            h2 Hijab Collections
          .single__card__image
            img(src="assets/images/hijab/hijab.png" alt="")/
            a.btn.second(href='hijab.html') See More
      .col-6
        .wrapper.mr-0
          .col-6.col-md-6
            .card
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/hijab/1.png" alt="")/
              .card__text
                h4.card__text_name HIJAB KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
          .col-6.col-md-6
            .card
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/hijab/2.png" alt="")/
              .card__text
                h4.card__text_name HIJAB KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
          .col-6.col-md-6
            .card
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/hijab/5.png" alt="")/
              .card__text
                h4.card__text_name HIJAB KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
          .col-6.col-md-6
            .card
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/hijab/4.png" alt="")/
              .card__text
                h4.card__text_name HIJAB KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
// End Product Collection