// Hijab Category
.block-section
  .container
    .wrapper
      .section-title
        h2 Hijab
      .col-3
        include ../layouts/sidebar.pug
      .col-9
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/hijab/1.png" alt="")/
            .card__text
              h4.card__text_name HIJAB KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/hijab/2.png" alt="")/
            .card__text
              h4.card__text_name HIJAB KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/hijab/3.png" alt="")/
            .card__text
              h4.card__text_name HIJAB KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/hijab/5.png" alt="")/
            .card__text
              h4.card__text_name HIJAB KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/hijab/6.png" alt="")/
            .card__text
              h4.card__text_name HIJAB KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/hijab/7.png" alt="")/
            .card__text
              h4.card__text_name HIJAB KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/hijab/8.png" alt="")/
            .card__text
              h4.card__text_name HIJAB KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/hijab/9.png" alt="")/
            .card__text
              h4.card__text_name HIJAB KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/hijab/10.png" alt="")/
            .card__text
              h4.card__text_name HIJAB KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-12
          .pagination
            ul.pagination__list
              li(class='page-item active')
                a.page-link(href='#') 1
              li(class='page-item')
                a.page-link(href='#') 2
              li(class='page-item')
                a.page-link(href='#' rel='next')
                  i.fa.fa-chevron-right(aria-hidden='true')
// Hijab Category