// Category
.block-section
  .container
    .wrapper
      .section-title
        h2 Cosmetics
      .col-3
        include ../layouts/sidebar.pug
      .col-9
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/cosmetics/1.png" alt="")/
            .card__text
              h4.card__text_name COSMETICS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/cosmetics/2.png" alt="")/
            .card__text
              h4.card__text_name COSMETICS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="produc-detail.html")
            .card__img
              img(src="assets/images/cosmetics/3.png" alt="")/
            .card__text
              h4.card__text_name COSMETICS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/cosmetics/1.png" alt="")/
            .card__text
              h4.card__text_name COSMETICS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/cosmetics/3.png" alt="")/
            .card__text
              h4.card__text_name COSMETICS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/cosmetics/2.png" alt="")/
            .card__text
              h4.card__text_name COSMETICS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/cosmetics/4.png" alt="")/
            .card__text
              h4.card__text_name COSMETICS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/cosmetics/2.png" alt="")/
            .card__text
              h4.card__text_name COSMETICS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-4
          .card
            a.box-link(href="product-detail.html")
            .card__img
              img(src="assets/images/cosmetics/4.png" alt="")/
            .card__text
              h4.card__text_name COSMETICS KYRALOOSE BLACK
              p.card__text_price Rp120.000-,
        .col-12
          .pagination
            ul.pagination__list
              li(class='page-item active')
                a.page-link(href='#') 1
              li(class='page-item')
                a.page-link(href='#') 2
              li(class='page-item')
                a.page-link(href='#' rel='next')
                  i.fa.fa-chevron-right(aria-hidden='true')

// Category



