.modal.js-modal
  .modal-container
    .modal-box
      .modal-content
        .modal-header
          h2.modal__title Form Checkout
          button.close.float-right
            i(class="icon-close")
        .modal-body
          form(action="#" method="POST" autocomplete="off")
            .form-group
              p.form-group__head Nama Produk:
              input.form-control(type="text" name="product" id="product" value='Wardah' autofocus required='required')/
            .form-group
              p.form-group__head Nama Lengkap:
              input.form-control(type="text" name="name" id="name" required='required')/
            .form-group
              p.form-group__head Telepon:
              input.form-control(type="text" name="telp" id="telp" required='required')/
            .form-group
              p.form-group__head Email:
              input.form-control(type="text" name="email" id="email" required='required')/
            .form-group
              p.form-group__head Alamat Lengkap:
              textarea.form-control(rows="5" name="address" id="address" required='required')
            .form-group
              button.close.btn.btn__sm.danger.float-left(type="button") Batal
              button.btn.btn__sm.primary.float-right(type="submit") Kirim