// Product Detail
.block-section
  .container
    .wrapper.m-0
      .col-12
        .col-6.col-md-6.w-100
          .product__detail__img
            img(src="assets/images/hijab/1.png" alt="Sepatu Pria")/
        .col-6.col-md-6.w-100
          .product__detail
            h3.product__detail__name Hijab Mocca Wanita
            del Rp 120.000
            p.product__detail__price Harga: Rp 60.000
            p.product__detail__info
              span.product__detail__set Kategori
              | : Hijab
            p.product__detail__info
              span.product__detail__set Stok
              | : 10
            p.product__detail__summary 
              | Mill Oil is an innovative oil filled radiator with the most modern technology. filled radiator with the most modern technology.
            button.btn.primary.btn__large.js-modal-button(type="button") Pesan Sekarang
            .detail__desc
              h4.product__detail__title
                | Deskripsi Produk
              p.product__detail__desc
                | It is often frustrating to attempt to plan meals that are designed for one. Despite this fact, we are seeing more and more recipe books and Internet websites thatcooking practices utilized before into a streamlined plan of cooking that is more efficient for one person creating less
      .col-12
        .product-related
          .section-title
            h2 Produk Terkait
          .owl-carousel.js-product-slider
            .card
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/gamis/2.jpeg" alt="")/
              .card__text
                h4.card__text_name Gamis KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
            .card
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/gamis/2.jpeg" alt="")/
              .card__text
                h4.card__text_name Gamis KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
            .card
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/gamis/2.jpeg" alt="")/
              .card__text
                h4.card__text_name Gamis KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
            .card
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/gamis/2.jpeg" alt="")/
              .card__text
                h4.card__text_name Gamis KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
            .card
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/gamis/2.jpeg" alt="")/
              .card__text
                h4.card__text_name Gamis KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
// End Product Detail Area

