// Product Collection Area
.product-collection-area
  .container
    .wrapper.m-0
      .col-6
        .single__card.pr-4
          .section-title
            h2 Gamis Collections
          .single__card__image
            img(src="assets/images/gamis/gamis.png" alt="")/
            a.btn.second(href='gamis.html') See More
      .col-6
        .wrapper.ml-0
          .col-6.col-md-6
            .card
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/gamis/1.jpeg" alt="")/
              .card__text
                h4.card__text_name DRESS KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
          .col-6.col-md-6
            .card
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/gamis/2.jpeg" alt="")/
              .card__text
                h4.card__text_name DRESS KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
          .col-6.col-md-6
            .card
              .card__soldout
                span Sold Out
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/gamis/3.jpeg" alt="")/
              .card__text
                h4.card__text_name DRESS KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
          .col-6.col-md-6
            .card
              a.box-link(href="product-detail.html")
              .card__img
                img(src="assets/images/gamis/4.jpeg" alt="")/
              .card__text
                h4.card__text_name DRESS KYRALOOSE BLACK
                p.card__text_price Rp120.000-,
// End Product Collection Area