// Sale Area
.sale
  .container
    .sale__text
      h3.sale__text_title Product Sale
      p.sale__text__desc Ada promo menarik dan eksklusif khusus untukmu. Klik tombol di bawah untuk lihat promo!!
      a.btn.secondary(href='promo.html') Shop Now
// End Sale Area