.sidebar
  h3 Pilih Kategori
  .input__wrapper#scrollbar-show
    .input__row
      input#wardah(type='radio' name='category' value='wardah' class="radio-item")
      label(for='wardah') Wardah
    .input__row
      input#pixy(type='radio' name='category' value='pixy' class="radio-item")
      label(for='pixy') Pixy
    .input__row
      input#zalora(type='radio' name='category' value='zalora' class="radio-item")
      label(for='zalora') Zalora
    .input__row
      input#emina(type='radio' name='category' value='emina' class="radio-item")
      label(for='emina') Emina Bright
    .input__row
      input#elzatta(type='radio' name='category' value='elzatta' class="radio-item")
      label(for='elzatta') Elzatta
    .input__row
      input#sociolla(type='radio' name='category' value='sociolla' class="radio-item")
      label(for='sociolla') Sociolla
  .input__price
    .price-sorting
      h3.sidebar-title Urutkan Harga
      select#sortingList.form-control(name='sorting')
        option(value='') Urutkan Harga
        option(value='lowPrice') Harga Terendah
        option(value='topPrice') Harga Tertinggi