*{
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	background-color: #eee;
	color: #fff;
}
img{
	max-width: 100%;
}
.container {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.main{
	padding: 120px 0;
}
.box{
	width: 320px;
	display: inline-block;
	vertical-align: middle;
	margin: 30px 5px;
}
.box-first{
	background-color: #b40092;
}
.box-second{
	background-color:#1A2cac;
}
.box-third{
	background-color: #20286c;
}
.box .image{
	width: 320px;
}
.box .card{
	padding: 32px 20px 32px;
}
.box .card .card-text{
	font-size: 12px;
	margin-top: 0;
}
.box .card .card-title{
	font-size: 23px;
	margin-top: 0;
}
.box .card .card-desc{
	font-size: 16px;
	line-height: 20px;
	margin-top: 0;
}