@font-face {
  font-family: 'poppinsmedium';
  src: url('poppins-medium-webfont.woff2') format('woff2'),
  url('poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'poppinsmedium', sans-serif;
  background-color: #fff;
  color: #424242;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

.container {
  width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}

.product {
  width: 100%;
  padding: 40px 0;
}

.col-3 {
  width: 25%;
  float: left;
}

.box-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.product-item {
  position: relative;
  min-height: 480px;
  margin: 0 16px;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 4px 0 20px -5px rgb(0,0,0,.1);
          box-shadow: 4px 0 20px -5px rgb(0,0,0,.1);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.product-item:hover{
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 4px 0 20px -5px rgb(0,0,0,.4);
          box-shadow: 4px 0 20px -5px rgb(0,0,0,.4);
}

.product-image{
  width: 100%;
  height: 300px;
}

.product-text {
  background-color: #fff;
  padding: 24px 20px;
  min-height: 180px;
}

.product-title {
  font-size: 18px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  min-height: 80px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0 0 16px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.product-item:hover .product-title {
  color: #FF383D;
}

.product-percent{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  text-align: center;
  margin: 0 0 8px;
  color: #fff;
  background: #FF383D;
  padding: 10px 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.product-item:hover .product-percent {
  padding: 10px 40px;
}

.product-discount {
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
  margin: 0;
}

.product-price {
  vertical-align: middle;
  display: inline-block;
  font-size: 20px;
  color: #FF383D;
  margin: 0 16px 0 0;
}