CSS Border
--

.selector-class{
  border-width: units;
  border-style: solid | dotted | dashed | double | groove | inset | outset | none | hidden;
  border-color: color-code;

  /*shorthand*/
  border: [border-width] [border-style] [border-color];

  /*border-size*/
  border-top: [border-width] [border-style] [border-color];
  border-bottom: [border-width] [border-style] [border-color];
  border-left: [border-width] [border-style] [border-color];
  border-right: [border-width] [border-style] [border-color];
 
  border-radius: units; [CSS3]

}

/*==============================================*/