CSS Margin
--

.selector-class{
  margin: units;

  margin-left: units;
  margin-right: units;
  margin-top: units;
  margin-bottom: units;
}

/*top side bottom left*/

- margin: all;
- margin: y x;
- margin: t s b;
- margin: t r b l;

/*==============================================*/