PUG Extends
--

- extends without parameter

create file yang akan di extends
block blackName1
block blackName2

using file
--
extends file-name.pug

block blockName2
  pug code

block blockName1
  pug code

- extends with parameter
create file yang akan di extends
block blackName1
block blackName2

using file
--
extends file-name.pug

block blockName2
  pug code

block blockName1
  pug code
