@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  color: #424242;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.banner-title, .how-title, .how-card-title, .offer-title, .contact-title, .avatar-title {
  font-family: 'Georgia', serif;
}

.img-el {
  display: block;
  height: 100%;
}

.lead {
  margin: 0 0 10px;
  font-size: 24px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  border: 0;
  min-width: 200px;
  color: #fff;
  background-color: #01996d;
  padding: 15px 50px;
  font-size: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.btn:hover {
  background-color: #028F66;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  transform: translateY(-4px);
}

/*================  header area  ==================*/

.header-area {
  position: fixed;
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
  background-color: #fff;
  z-index: 2;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

.header-area .container::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  display: block;
  width: 80px;
  margin-right: 100px;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-item {
  float: left;
  text-align: left;
  margin-right: 60px;
}

.nav-right .nav-item {
  text-align: right;
  margin-right: 30px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: #292929;
  -webkit-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.nav-link:hover {
  color: #01996d;
}

.nav-menu .active {
  color: #01996d;
}

.header-area .btn {
  display: inline;
}

/*================  /header area  ==================*/

/*================  banner area  ==================*/

.banner-area {
  padding: 180px 0;
  background: url(../img/banner-bg.jpg) center center/cover no-repeat fixed;
}

.banner-text {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
}

.banner-title {
  margin: 0 0 44px;
  font-weight: bold;
  font-size: 65px;
  line-height: 74px;
  color: #01996d;
}

.banner-desc {
  font-size: 20px;
  line-height: 31px;
  color: #484848;
  margin: 0 0 44px;
}

/*================  /banner area  ==================*/

/*================  how its work area  ==================*/

.how-it-work {
  padding: 180px 0;
  font-size: 0;
  text-align: center;
  counter-reset: card-counter;
}

.how-text {
  padding: 0 0 180px;
  font-size: 0;
  text-align: left;
}

.text-left {
  display: inline-block;
  vertical-align: bottom;
  width: 500px;
  margin-right: 100px;
}

.text-right {
  display: inline-block;
  vertical-align: bottom;
  width: 600px;
}

.how-title {
  font-weight: 600;
  margin: 0;
  font-size: 40px;
  color: #01996d;
}

.how-desc {
  margin: 0;
  font-size: 20px;
}

.how-card {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  margin-right: 60px;
}

.how-card:last-child {
  margin-right: 0;
}

.how-card-title {
  position: relative;
  margin: 0 0 44px;
  font-size: 32px;
  font-weight: 600;
  color: #000;
}

.how-card-title::before {
  counter-increment: card-counter;
  content:'0' counter(card-counter);
  font-weight: normal;
  font-size: 150px;
  color: rgba(1, 153, 109, 0.2);
  position: absolute;
  top: -130px;
  left: 0;
  z-index: -1;
}

.how-card-desc {
  text-align: left;
  margin: 0 0 40px;
  font-size: 20px;
}

.how-card-img {
  height: 450px;
}

/*================  /how its work area  ==================*/

/*================  offer area  ==================*/

.offer-area{
  padding: 180px 0;
  background-color: #245852;
  font-size: 0;
}

.offer-text {
  display: inline-block;
  vertical-align: middle;
  padding-right: 40px;
  width: 520px;
  color: #fff;
}

.offer-image {
  display: inline-block;
  vertical-align: middle;
  width: 680px;
  height: 380px;
}

.offer-image .img-el {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.offer-title {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 40px;
}

.offer-desc {
  margin: 0 0 40px;
  font-size: 20px;
}

/*================  /offer area  ==================*/

/*================  contact area  ==================*/

.contact-area {
  padding: 180px 0;
  font-size: 0;
}

.contact-text {
  display: inline-block;
  vertical-align: middle;
  width: 580px;
  padding-left: 80px;
}

.contact-image {
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(1, 153, 109, 0.2);
  width: 520px;
  height: 520px;
  margin-left: 100px;
  position: relative;
}

.contact-image .img-el {
  margin: 0 auto;
}

.contact-title {
  margin: 0 0 30px;
  font-weight: 600;
  color: #01996d;
  font-size: 40px;
}

.contact-desc {
  margin: 0 0 40px;
  font-size: 20px;
}

.avatar-box {
  position: absolute;
  left: -100px;
  bottom: -180px;
  width: 300px;
  text-align: center;
  background-color: #fff;
  color: #000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 16px rgba(165, 165, 165, 0.25);
  -moz-box-shadow: 0px 4px 16px rgba(165, 165, 165, 0.25);
  -ms-box-shadow: 0px 4px 16px rgba(165, 165, 165, 0.25);
  box-shadow: 0px 4px 16px rgba(165, 165, 165, 0.25);
  padding: 28px 40px;
}

.avatar-lead {
  font-size: 16px;
  margin: 0 0 40px;
  position: relative;
}

.avatar-lead::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 24px;
  right: 24px;
  border-bottom: 1px solid #000;
}

.avatar-image {
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}

.avatar-desc {
  margin: 20px 0;
  font-size: 14px;
}

.avatar-title {
  margin: 0 0 10px;
  font-size: 16px;
}

.avatar-list {
  padding-left: 40px;
  margin: 0;
  text-align: left;
}

.avatar-list-item {
  font-size: 14px;
  margin: 0 0 10px;
}

.avatar-list-item:last-child {
  margin: 0;
}

/*================  /contact area  ==================*/

/*================  footer area  ==================*/

.footer-area {
  margin-top: 100px;
  padding: 180px 0;
  background-color: #245852;
  color: #fff;
}

.footer-logo {
  width: 110px;
}

.footer-list {
  margin: 40px 0 0;
  padding: 0;
  list-style: none;
}

.footer-list-item {
  font-size: 24px;
  margin: 0 0 40px;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

.footer-list-item:last-child {
  margin: 0;
}

/*================  /footer area  ==================*/