.banner__item
  .container
    .banner__img
      img(src='assets/img/bg/japan/lanscape/'+data.image alt=data.title)/
    .banner__text
      h1.banner__title 
        | !{data.title}
      p.banner__desc
        | !{data.desc}
      button.btn.btn__primary.banner__btn See More