// Checkout Area
.checkout-area
  .container
    .card
      .row
        .form-checkout
          .checkout-feature
            .wrapper
              .checkout-icon
                i.fa.fa-lock
                p Transaksi Aman
            .wrapper
              .checkout-icon
                i.fa.fa-thumbs-up
                p Jaminan Kepuasan
            .wrapper
              .checkout-icon
                i.fa.fa-check
                p Produk Original
          h3 Data Penerima
          form(action="success-order.html"  method="get")
            .form-input
              input.input-text(type="text" name="name" placeholder="Nama Anda" required="required")/
              label.input-label Nama
            .form-input
              input.input-text(type="text" name="phone_number" placeholder="No. Telp/Whatsapp" required="required")/
              label.input-label No. Telp
            .form-input
              input.input-text(type="text" name="email" placeholder="Alamat Email" required="required")/
              label.input-label Email
            .form-input
              input.input-text(type="text" name="business_type" placeholder="Masukan Jenis Usaha" required="required")/
              label.input-label Jenis Usaha
            .form-input
              input.input-text(type="text" name="business_name" placeholder="Masukan Nama Usaha" required="required")/
              label.input-label Nama Usaha
            .form-input
              input.input-text(type="text" name="address" placeholder="Masukan Kota/Kecamatan" required="required")/
              label.input-label Alamat
            .form-input
              button.btn.primary.d-block(type="submit") Beli Sekarang
        .form-checkout-img
          .checkout-img-el
            img(src="assets/images/bg/bg-retail.png" alt="Bg Aplikasi retail")/
          .features-product
            h3 Yang Anda dapatkan
            ul.features-product-list
              li 
                 p Software Aplikasi, Tidak perlu sewa bulanan, Bayar sekali untuk selamanya.
              li 
                p Gratis Support dan Update.
              li 
               p Tutorial Lengkap dan Bonus 2 Bulan Maintenance untuk awal pemakaian.
            .order-sumary-list
              .row
                h4 Rincian Harga :
                .sumary-name
                  p RZF Toko Retail
                .sumary-product
                  p Rp 1.500.000
              .row
                .sumary-name
                  p Diskon
                .sumary-product
                  p Rp 500.000
              .row
                .sumary-name
                  h4 Total
                .sumary-product-total
                  p Rp 1.500.000

// End Checkout Area