<!-- Tabs -->
.tabs.js-tab
  ul.tabs__nav
    li.tabs__item.active(data-target="tab-1") Profile
    li.tabs__item(data-target="tab-2") Visi & Misi
    li.tabs__item(data-target="tab-3") Stuktur Organisasi
    li.tabs__item(data-target="tab-4") Team Kami
  .container
    .tabs__content
      .tabs__pane(data-pane="tab-1" class="active")
        ul.accordion.js-accordion
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor sit amet 1.
            .accordion__body
              p.accordion__text
                | Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Labore eveniet distinctio ab in culpa maiores repellendus quis cupiditate facere quaerat voluptate praesentium quo, aut, expedita sit recusandae optio minus modi et nam eligendi velit tenetur non deserunt. Unde, sit, quisquam?
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor sit amet 2.
            .accordion__body
              p.accordion__text
                | Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Labore eveniet distinctio ab in culpa maiores repellendus quis cupiditate facere quaerat voluptate praesentium quo, aut, expedita sit recusandae optio minus modi et nam eligendi velit tenetur non deserunt. Unde, sit, quisquam?
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor sit amet 3.
            .accordion__body
              p.accordion__text
                | Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Labore eveniet distinctio ab in culpa maiores repellendus quis cupiditate facere quaerat voluptate praesentium quo, aut, expedita sit recusandae optio minus modi et nam eligendi velit tenetur non deserunt. Unde, sit, quisquam?
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor sit amet 4.
            .accordion__body
              p.accordion__text
                | Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Labore eveniet distinctio ab in culpa maiores repellendus quis cupiditate facere quaerat voluptate praesentium quo, aut, expedita sit recusandae optio minus modi et nam eligendi velit tenetur non deserunt. Unde, sit, quisquam?
      .tabs__pane(data-pane="tab-2")
        ul.accordion.js-accordion
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor sit amet Visi& Misi 1.
            .accordion__body
              p.accordion__text
                | Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Labore eveniet distinctio ab in culpa maiores repellendus quis cupiditate facere quaerat voluptate praesentium quo, aut, expedita sit recusandae optio minus modi et nam eligendi velit tenetur non deserunt. Unde, sit, quisquam?
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor sit amet Visi& Misi 2.
            .accordion__body
              p.accordion__text
                | Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Labore eveniet distinctio ab in culpa maiores repellendus quis cupiditate facere quaerat voluptate praesentium quo, aut, expedita sit recusandae optio minus modi et nam eligendi velit tenetur non deserunt. Unde, sit, quisquam?
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor sit amet Visi& Misi 3.
            .accordion__body
              p.accordion__text
                | Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Labore eveniet distinctio ab in culpa maiores repellendus quis cupiditate facere quaerat voluptate praesentium quo, aut, expedita sit recusandae optio minus modi et nam eligendi velit tenetur non deserunt. Unde, sit, quisquam?
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor sit amet Visi& Misi 4.
            .accordion__body
              p.accordion__text
                | Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Labore eveniet distinctio ab in culpa maiores repellendus quis cupiditate facere quaerat voluptate praesentium quo, aut, expedita sit recusandae optio minus modi et nam eligendi velit tenetur non deserunt. Unde, sit, quisquam?
      .tabs__pane(data-pane="tab-3")
        ul.accordion.js-accordion
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor sit amet Stuktur Organisasi 1.
            .accordion__body
              p.accordion__text
                | Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Labore eveniet distinctio ab in culpa maiores repellendus quis cupiditate facere quaerat voluptate praesentium quo, aut, expedita sit recusandae optio minus modi et nam eligendi velit tenetur non deserunt. Unde, sit, quisquam?
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor sit amet Organisasi 2.
            .accordion__body
              p.accordion__text
                | Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Labore eveniet distinctio ab in culpa maiores repellendus quis cupiditate facere quaerat voluptate praesentium quo, aut, expedita sit recusandae optio minus modi et nam eligendi velit tenetur non deserunt. Unde, sit, quisquam?
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor sit amet Organisasi 3.
            .accordion__body
              p.accordion__text
                | Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Labore eveniet distinctio ab in culpa maiores repellendus quis cupiditate facere quaerat voluptate praesentium quo, aut, expedita sit recusandae optio minus modi et nam eligendi velit tenetur non deserunt. Unde, sit, quisquam?
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor sit amet Organisasi 4.
            .accordion__body
              p.accordion__text
                | Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Labore eveniet distinctio ab in culpa maiores repellendus quis cupiditate facere quaerat voluptate praesentium quo, aut, expedita sit recusandae optio minus modi et nam eligendi velit tenetur non deserunt. Unde, sit, quisquam?
<!-- End Tabs -->
