/*=====  banner  ======*/

.banner {
    &__item {
    position: relative;
    padding: 260px 0 180px;

    @include medium {
      padding: 120px 0;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .2);
      z-index: -1;
    }
  }

  &__img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      opacity: 0;
      transform: scale(1.2);
      transition: all 5000ms ease-in-out;
      transition-delay: 0ms;
    }
  }

  &__text {
    width: 100%;
    max-width: 560px;
    z-index: 2;
    color: #fff;
  }

  &__title {
    font-size: 48px;
    line-height: 1.3;
    font-weight: 700;
    opacity: 0;
    transform: translateY(-16px);
    transition: all 1250ms ease;
    transition-delay: 0;
    margin: 0 0 24px;

    @include medium {
      font-size: 32px;
    }
  }

  &__desc {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    opacity: 0;
    transform: translateY(-16px);
    transition-delay: 500ms;
    transition: all 1250ms ease;
    margin: 0 0 32px;

    @include medium {
      font-size: 16px;
    }
  }

  &__btn {
    opacity: 0;
    transform: translateY(-16px);
    transition: opacity 1000ms ease, transform 1000ms ease, background-color 350ms ease, color 350ms ease;
    transition-delay: 0ms;
  }
}

/* if banner carouser single item */
.single-item,
.owl-item.active {
  .banner {
    &__img img {
      transform: scale(1);
      opacity: 1;
      transition: opacity 3500ms ease, transform 5000ms ease;
      transition-delay: 0s;
    }

    &__title {
      transform: translateY(0);
      opacity: 1;
      transition: all 1750ms ease;
      transition-delay: 1000ms;
    }

    &__desc {
      transform: translateY(0);
      opacity: 1;
      transition: all 1750ms ease;
      transition-delay: 1200ms;
    }

    &__btn {
      transform: translateY(0);
      opacity: 1;
      transition: opacity 1500ms ease 1500ms, transform 1500ms ease 1500ms, background-color 350ms ease 0ms, color 350ms ease 0ms;
    }
  }
}

/*=====  End banner  ======*/