CSS Anmation (CSS 3)
--

.selector {
  -webkit-animation-name: keyframename | none;
  -moz-animation-duration: timing(s|ms);
  -o-animation-delay: s|ms;
  -ms-animation-iteration-content: number | infinite;    contoh 1/2/3/4,..;
  animation-direction: normal (default) | alternate | reverse | alternate-reverse;
  animation-timing-function: ease (default) | ease-in | ease-out | ease-in-out | linear | cubic-bezier(x1, y1, x2, y2);
  animation-fill-mode: none (default) | forwards | backwards | both; 
  animation-play-state: paused | running (default);


  shorhand nya gini :
  animation: [animatoin-name] [animation-duration] [animation-delay] [animation-iteration-content] [animation-direction] [animation-timing-function] [animation-fill-mode] [animation-play-state];
}

@-webkit-keyframes keyframename {
  from {
    background-color: red;
  }

  to {
    background-color: blue;
  }
}

@-webkit-keyframes keyframename {
0%{
  property : value;
}

50%{
  transform: translateX(400px);
  property: value;
}

@-webkit-keyframes keyframename {
0%{
  property : value;
}

25%{
  transform: translateX(400px);
  property: value;
  transform: scale(1.1);
}
50%{
  transform: translateX(400px);
  transform: scale(1.1);
}

75%{
  transform: translateX(400px);
}

}