RWD Responsive
--

RWD Viewport
--
harus ada tag meta viewport

RWD Grid-view
--

Konsepnya Bootstrap itu menggunakan 12 Columns

rumusnya 1/12 dibagi 3
.col-1{
  width: 8.3333333%;
}
.col-2{
  width: 16.3333333%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.3333%;
}
.col-5{
  width: 41.3333%;
}
.col-6{
  width: 50%;
}
.col-7{
  width: 58.3333333%;
}
.col-8{
  width: 66.6666666%
}
.col-9{
  width: 75.3333333%
}
.col-10{
  width:  83.3333333%
}
.col-11{
  width:  91.6666666%
}
.col-12{
  width:  100.3333333%
}


misal di bawah container

[class*="col-"]{
  padding: 12px 16px;
}

Jenis Website Secara Data
Web Static (Frontend)


Web Dynamic (Backend)


Jenis Website Secara UI
--

1. Adaptive Website ga perlu media query
2. Responsive Website butuh @media query


RWD Media Queries
--

Metode RESPONSIVE
1. Desktop First (menggunakan max-width)

kalo pake metode bootstrap, di parent nya jg lupa pake  :
margin-left: -12px; kalo pake floating
margin-right: -12px; Kalo pake floating

2. Mobile First (menggunakan min-width)

Breakpoints Desktop First
--
Large: 1199.98px (iPad atau tablet yang landscape)
Medium: 991.98px; (iPad atau tablet yang potrait)
Small: 767.98px (Mobile Landscape);
Extra Small: 575.86px (Mobile Potrait)
Retina 320px (iPhone 5/SE)

Breakpoints Mobile First
--

Large: 1200px (iPad atau tablet yang landscape)
Medium: 992px (iPad atau tablet yang potrait)
Small: 768px (Mobile Landscape)
Extra Small: 576px (Mobile Potrait)
Retina 320px (iPhone 5/SE)


kalo min width and max-width itu digabungin itu dibacanya ngasih batas minimal dan maximal (diantara screen itu sendiri)

sebaiknya pake satu metode saja, entah itu Mobile First atau Desktop First
Desktop itu pakenya => max-width: 
Mobile itu pakenya => min-width: 

