CSS Floats
--

selector{
  float: none (default) left, right, auto;
}

kelemahan:
  gabisa pakai vertical align

selector-after-float{
  clear: none (default) left | right | both;
}

/* clearfix */

.selector-parent::after {
  content: '';
  display: table;
  clear: both;
}


Jangan Lupa Instal Package


BracketGuard
Auto File Name






