RWD Responsive
--

RWD Viewport
--
harus ada tag meta viewport

RWD Grid-view
--

Konsepnya Bootstrap itu menggunakan 12 Columns

rumusnya 1/12 dibagi 3
.col-1{
  width: 8.3333333%;
}
.col-2{
  width: 16.3333333%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.3333%;
}
.col-5{
  width: 41.3333%;
}
.col-6{
  width: 50%;
}
.col-7{
  w
}
.col-8{
  w
}
.col-9{
  w
}
.col-10{
  w
}
.col-11{
  w
}
.col-12{
  w
}


col-7 58.3333333%
col-8 66.6666666%
ol-975.3333333%
cl-10 83.3333333%
col-11 91.6666666%
coll-12 100.3333333%

misal di bawah container

[class*="col-"]{
  padding: 12px 16px;
}

Jenis Website Secara Data
Web Static (Frontend)


Web Dynamic (Backend)


Jenis Website Secara UI
--

1. Adaptive Website ga perlu media query
2. Responsive Website butuh @media query


RWD Media Queries
--

Metode RESPONSIVE
1. Desktop First (menggunakan max-width)

kalo pake metode bootstrap, di parent nya jg lupa pake  :
margin-left: -12px; kalo pake floating
margin-right: -12px; Kalo pake floating

2. Mobile First (menggunakan min-width)

Breakpoints Desktop First
--
Large: 1199.98px (iPad atau tablet yang landscape)
Medium: 991.98px; (iPad atau tablet yang potrait)
Small: 7.67.98px (Mobile Landscape);
Extra Small: 575.86px (Mobile Potrait)
Retina 320px (iPhone 5/SE)


Breakpoints Mobile First
--

Large: 1200px (iPad atau tablet yang landscape)
Medium: 992px (iPad atau tablet yang potrait)
Small: 768px (Mobile Landscape)
Extra Small: 576px (Mobile Potrait)
Retina 320px (iPhone 5/SE)


kao min width and max-width itu digabungin itu dibacanya ngasih batas mniimal dan maximal (diantara screen itu sendiri)

