CSS Text
--

.selector-class{
	/*text color*/
	color: color-code;
	/*text align*/
	text-align: left(default) | center | right | justify; /* can use text & object*/
	vertical-align: top | bottom | middle;  /*its work if display: inline-block; & table*/
	/*text direction*/
	direction: rtl;
	unicode-bidi: bidi-override;
	/*text decoration*/
	text-decoration: none; | overline | line-through | underline(default);
	/*text transform*/
	text-transform: uppercase | lowercase | capitalize;
	/*text-spacing*/
	text-indent: units (100px | -100px);
	letter-spacing: units;
	word-spacing: units;
	line-height: units | scala;
	white-space: normal (default) | nowrap | pre | pre-line | pre-wrap;
	/*text shadow*/
	text-shadow: x-units y-uints blur color-code;
}

/*==============================================*/