CSS Lists
--

.selector{
	/*user angent stylesheet*/
	margin: units;
	padding: units;
	/* ul */
	list-style-type: disc (Default) | circle | square | none;
	/* ol */
	list-style-type: decimal (Default) | decimal-leading-zero | lower-alpha | upper-alpha |lower-roman | upper-roman | none;
	list-style-position: inside | outside (Default);
	list-style-image: url();

	/*shorthand*/
	list-style: [list-style-type] [list-style-position] [list-style-image];
}


/*==============================================*/