CSS Counters
--


bisa di selector | bisa di Parent-Selector{
  counter-reset: freetext;
}

selector::before atau after{
  counter-reset: freetext;
  counter-increment: (freetext);
}

.custom-list-item::before{
  counter-increment: customList;
  content: '('counter(customList) ')' '.' ('counter(customList) ')' , li-style kalo mau dganti dengan huruf. contohnya lower alpha, dll;
  margin-right: 8px;
}

counter reset nya harus di parent kalo ga salah.


1. Pendahuluan
1.1 tes
1.2 tes
1.3 tes


2. Masalah
2.1
2.2
2.3
2.4