CSS Width/height
--

.selector-class{
	width: units | auto;
	max-width: units | auto;
	/*
		if lebar container >= max-width then
			width = max-width
		else
			width = width container
	*/
	min-width: units | auto;
	/*
		if lebar container <= min-width then
			width = min-width
		else
			width = width container
	*/
	height: units | auto;
	max-height: units | auto;
	min-height: units | auto;
}

/*==============================================*/