CSS Padding
--

.selector-class{
  padding: units;

  padding-left: units;
  padding-right: units;
  padding-top: units;
  padding-bottom: units;
}

/*top side bottom left*/

- padding: all;
- padding: y x;
- padding: t s b;
- padding: t r b l;

/*==============================================*/