CSS Pseudo Class
--


:hover
selector: pseudo-class {
	property: value;
	property: value;
}

:pseudo-class
-

:hover (all element)
:active (link element)
:link (link element)
:visited (link element)
:checked (form input type checkbox | radio)
:disabled (form input, select, textarea)
:focus (form input textbox)
:required (form input, select, textarea)
:valid (form input, select, textarea)
:target (target href yang sedang aktive)
:not (selector)
:first-child
:last-child
:nth-child(number)
:nth-last-child(number)


CSS Pseudo Element
--

selector::pseudo-element{
	property: value;
	property: value;
}

::pseudo-element
--

::after -> element has pen tag and close tag
need content property
::before -> element has pen tag and close tag
need content property
::first-letter
::first-line
::selection


