CSS Text Effect
--

.selector-class{
  text-align-last: auto (default) | left | right | center | justify | start | end;
  text-overflow: clip (default) | ellipsis

  clip adalah memotong
  ellipsis adalah kasih titik titik di akhir kalimat otomatis

  /*need*/
  harus ada white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: normal (default) | break-all | keep-all | wp
  contoh ada lorem jbejfbjdbjbs bj
  writing-mode: horizontal-tb | vertial-rl | horizontal-rl
  /*/need*/
}
