-
  data = [
    {
      image: '1.jpg',
      title: 'Lorem ipsum dolor sit, amet.',
      desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quasi, voluptatum velit dolores atque, culpa neque impedit animi repudiandae hic.'
    },
    {
      image: '2.jpg',
      title: 'Lorem ipsum dolor sit, amet.',
      desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quasi, voluptatum velit dolores atque, culpa neque impedit animi repudiandae hic.'
    },
    {
      image: '7.jpg',
      title: 'Lorem ipsum dolor sit, amet.',
      desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quasi, voluptatum velit dolores atque, culpa neque impedit animi repudiandae hic.'
    }
  ]
include ../../layouts/banner.pug