-
  data = [
    {
      image: '1.jpg',
      title: 'Lorem, ipsum dolor.'
    },
    {
      image: '2.jpg',
      title: 'Lorem, ipsum dolor.'
    },
    {
      image: '3.jpg',
      title: 'Lorem, ipsum dolor.'
    },
    {
      image: '4.jpg',
      title: 'Lorem, ipsum dolor.'
    },
    {
      image: '1.jpg',
      title: 'Lorem, ipsum dolor.'
    }
  ]
include ../../layouts/features.pug