* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  background-color: #bbb;
  font-size: 16px;
  padding: 120px 450px;
  font-family: sans-serif, 'Arial', 'Tahoma';
}

img {
  max-width: 100%;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.row {
  margin-left: -18px;
  margin-right: -18px;
}





/*form {
  background-color: #fff;
  padding: 20px;
}

form h1 {
  font-size: 24px;
  color: #323232;
  font-weight: 600;
  margin: 0 0 20px;
}

.input-row {
  margin: 0 0 20px;
}

.input-row:last-child {
  margin: 0 0 32px;
}

.input-item {
  padding: 8px;
  color: #222;
  font-size: 16px;
  height: 38px;
  border-radius: 4px;
  outline: 0;
  width: 100%;
  border: 2px solid #ddd;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -transition: all .5s ease;
}

.input-item:focus {
  border-color: #31ea5f;
}

.btn-login {
  width: 100%;
  cursor: pointer;
  background-color: #31ea5f;
  color: #313131;
  font-weight: 600;
  font-size: 14px;
  height: 38px;
  border: 0;
  outline: 0;.btn
  border-radius: 4px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -transition: all .5s ease;
}

.btn-login:hover {
  background-color: black;
  color: #eaeaea;
}

*/



