*{
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

body{
	background-color: #fff;
	font-family: Roboto, sans-serif, arial;
}

/*================  Utillities Start  ==================*/

@font-face {
	font-family: Roboto;
	src: url('../fonts/Roboto-Medium.ttf2') format('ttf2'),
	url('../Roboto-Medium.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

img{
	max-width: 100%;
}

.container {
	width: 1060px;
	margin: 0 auto;
}


.button-primary{
	border: 1px solid #fff;
	background-color: #fff;
	text-align: center;
	text-decoration: none;
	color: #3b3b3b;
	padding: 16px 60px;
	border-radius: 29.5px;
	font-size: 22px;
	line-height: 26px;
	display: inline-block;
	transition: all .4s ease;
}

.button-primary:hover{
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	-o-transform: translateY(-6px);
}	

.achievement-content .button-secondary{
	border: 1px solid #6246E4;
	background-color: #6246E4;
	color: #fff;
	padding: 14px 60px;
	border-radius: 29.5px;
	text-decoration: none;
	font-size: 18px;
	display: inline-block;
	line-height: 26px;
	text-align: center;
	transition: .4s ease;
}

.button-secondary:hover{
	border: 1px solid #6246E4;
	color: #6246E4;
	background-color: transparent;
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	-o-transform: translateY(-6px);
}

/*================  Utillities End  =====================*/

/*================  Header Area Start  ==================*/

.header-area{
	position: fixed;
	background-color: transparent;
	font-size: 0;
	top: 0;
	width: 100%;
	padding: 20px;
	z-index: 1;
	transition: all 0.3s ease-in-out;
}

#navbar-brand{
	display: inline-block;
	vertical-align: middle;
	width: 130px;
}

.navbar-menu{
	display: inline-block;
	vertical-align: middle;
	width: 930px;
	text-align: right;
}

.nav-item{
	display: inline-block;
	text-align: left;
	margin-right: 40px;
	list-style: none;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 500;
}

.nav-item:last-child{
	margin-right: 0;
}

.nav-item .active{
	color: #FCBC14;
}

.nav-links{
	text-decoration: none;
	color: #fff;
	transition: .4s linear;
	-webkit-transition: .4s linear;
	-moz-transition: .4s linear;
	-o-transition: .4s linear;
	-ms-transition: .4s linear;
}

.nav-links:hover{
	color: #FCBC14;
}

.header-area.active{
	position: fixed;
	left: 0;
	padding: 20px;
	background-color: #6246e4;
	-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 0 8px rgba(0,0,0,.3);
	-o-box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
	-ms-box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
}


/*================ Header Area End  ====================*/

/*================ Banner Area Start  ==================*/

.banner-area{
	width: 100%;
	height: 100%;
	padding: 0 0 140px 0;
	background: url('../img/frames/dot.png') no-repeat #6246e4 left;
	background-size: 100px 100%;
}

.banner-item{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.banner-text{
	display: inline-block;
	width: 447px;
	height: 405px;
	margin: 223px 64px 0 0;
}

.banner-title{
	margin-top: 0;
	font-size: 70px;
	font-weight: 400;
	line-height: 70px;
	letter-spacing: -1.12px;
	text-align: left;
	color: #fff;
}

.banner-description{
	font-size: 16px;
	margin: 0 0 40px;
	line-height: 20px;
	color: #fff;
}

.banner-image{
	margin-top: 130px;
	position: absolute;
	display: inline-block;
	width: 490px;
	height: 580px;
}

.banner-image img{
	width: 690px;
	max-width: initial;
}


/*================ Banner Area End  ====================*/

/*================ Brands Area Start  ==================*/

.brands-area{
	width: 100%;
	background-color: #F7FAFD;
}

.brand-list-item{
	display: inline-block;
	vertical-align: middle;
	width: 126px;
	margin: 44px 90px 44px 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
}

.brand-list-item:last-child{
	margin-right: 0;
}

.brand-list-item:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
}

/*================ Brands Area End  ======================*/

/*================ Features Area Start  ==================*/

/*.features-area{
	width: 100%;
	height: 100%;
	margin: 100px 0 0;
}

.features-card{
	display: inline-block;
	vertical-align: middle;
	width: 260px;
	height: 345px;
	background: #f7fafd;
	border-radius: 30px;
	padding: 46px 20px 41px;
	margin: 20px 45px;
	transition: .4s ease;
}

.features-card:last-child{
	margin-right: 0;
}

.card-img{
	text-align: center;
	padding-bottom: 20px;
}

.card-img img{
	width: 100px;
	transition: all .3s ease;
}

.card-img img:hover{
	-webkit-transform: translateY(-8px);
	-moz-transform: translateY(-8px);
	-o-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
}

.card-img .feature-img-last{
	width: 140px;
	height: 100px;
}

.card-title{
	font-size: 26px;
	line-height: 30px;
	margin: 20px 0 14px;
}

.card-description{
	margin: 0;
	font-size: 14px;
	line-height: 20px;
}*/

.features-area{
	position: relative;
	width: 100%;
}

.features-item{
	font-size: 0;
	margin-right: 0;
	display: inline-block;
	vertical-align: top;
	padding: 40px 0;
}

.features-card{
	display: inline-block;
	vertical-align: top;
	padding: 40px 0;
	width: 280px;
	background: red;
	border-radius: 30px;
	padding: 33px;
	margin: 0 73px 0 0;
}

.features-card:last-child{
	margin-right: 0;;
}

.card-img {
	margin-top:46px;
	text-align: center;
	height: 20sssspx;
}
.card-img img {
	width: 100px;
}
.card-img img.feature-3{
	width: 160px;
	margin-left: 40px;
}

.card-title{
	margin: 0 0 20px 0;
	 font-size: 26px;
	 font-weight: 700;
}

.card-text h2{
	text-align: left;
	font-size: 26px;
	font-weight: 700;
}


.card-description p{
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
}


/*================ Features Area End  ====================*/

/*================ Services Area Start  ==================*/

.service-area{
	width: 100%;
	height: 700px;
	margin: 100px 0;
	background: url('../img/frames/dot.png') no-repeat right;
	background-size: 100px 680px;
}

.service-area .service-img{
	display: inline-block;
	vertical-align: middle;
	width: 486px;
	height: 690px;
}

.service-area .service-content{
	display: inline-block;
	vertical-align: middle;
	width: 500px;
	height: 680px;
	margin-left: 100px;
	position: absolute;
}

.service-area .service-title{
	font-weight: bold;
	font-size: 60px;
	line-height: 62px;
	color: #2d2d2d;
	margin-bottom: 32px;
}

.service-area .service-description{
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 40px;
	margin-top: 0;
}

.service-area ul{
	list-style: none;
	margin-left: -40px;
	font-size: 0;
}

.service-area ul li p{
	display: inline-block;
	vertical-align: middle;
	width: 400px;
}

.service-area ul li{
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
}

.service-area ul li::before{
	content: "1";
	background-color: #F4DDA0;
	display: inline-block;
	border-radius: 50%;
	padding: 14px 20px;
	vertical-align: middle;
	color: #fff;
	margin-right:20px;
}

.service-area ul li:nth-child(2)::before{
	content: "2";
	background-color: #BCD5FC;
	display: inline-block;
	border-radius: 50%;
	padding: 14px 20px;
	vertical-align: middle;
	color: #fff;
	margin-right:20px;
}

.service-area ul li:nth-child(3)::before{
	content: "3";
	background-color: #FAC2CF;
	display: inline-block;
	border-radius: 50%;
	padding: 14px 20px;
	vertical-align: middle;
	color: #fff;
	margin-right:20px;
}

/*================  Services Area End  ========================*/

/*================ Achievement's Area Start  ==================*/

.achievement-area{
	background-image: url('../img/frames/dot.png') no-repeat;
	font-size: 0;
	height: 500px;
	background-size: 100px auto;
}

.achievement-area .achievement-content{
	width: 450px;
	height: 345px;
	display: inline-block;
	vertical-align: middle;
}

.achievement-area .achievement-title{
	font-size: 60px;
	line-height: 62px;
	letter-spacing: -0.96px;
	color: #2d2d2d;
	margin: 40px 0;
}

.achievement-area .achievement-description{
	font-size: 18px;
	line-height: 28px;
	color: #2D2D2D;
	margin: 0 0 40px;
}

.achievement-area .achievement-img{
	display: inline-block;
	vertical-align: middle;
	padding-top: 40px;
	width: 545px;
	height: 513px;
}

/*================  Achievemnt's Area End ==================*/

/*================ Footer Area Start  ======================*/

.footer{
	margin-top: 100px;
	width: 100%;
	height: 110px;
	background: #F7FAFD;
}

.footer .footer-item{
	padding: 32px 0 0;
}

.footer .logo{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 129px;
	height: 33px;
}

.footer .copyright{
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	width: 892px;
	height: 21px;
	color: #2D2E2E;
}

/*================ Footer Area End  ==================*/