//-------------------------------------------------------------------------------
  @name: Config
  @description: Config wesbite
  -------------------------------------------------------------------------------//

-
  // Suffix Title
  suffixSiteTitle = "| alpha x";
  suffixSiteDescription = "| alpha x";
  suffixSiteKeywords = "alpha x";

  // Time Refresh
  timeRefresh = 900;

  // Site Domain
  siteDomain = "alpha x.com";

  // Site URL
  siteURL = "https://www.alpha x.com";

  // Site Theme
  siteTheme = "#4a8b90";

  // Author
  author = "alpha x";
  copyright = "2021 alpha x. All Rights Reserved";

  // SEO Frienldy
  seoFriendly = true;
  cannonical = "https://www.alpha x.com";

  // OG Facebook
  ogFacebook = {
    enable: true,
    url: "",
    type: "website",
    section: "product",
    published_time: "2019-04-26 17:35:30T+07:00",
    modified_time: "2019-04-26 17:35:30T+07:00",
    expiration_time: "2019-04-26 17:35:30T+07:00",
    image: "assets/img/default/og-facebook.jpg",
    imageType: "image/jpeg"
  };

  // Twitter Card
  twitterCard = {
    enable: true,
    twitterId: "@",
    sizeCard: "summary_large_image",
    image: "assets/img/default/twitter-card.jpg"
  };

  // Manifest
  manifest = "assets/js/data/manifest.json";

  // Icons
  icons = {

    // Web Favicon
    webFavicon: "assets/img/homescreen/favicon.ico",

    // Add to Home Screen
    homescreen: {

      // Android
      android: {
        s16: "assets/img/homescreen/favicon-16x16.png",
        s32: "assets/img/homescreen/favicon-32x32.png",
        s96: "assets/img/homescreen/favicon-96x96.png",
        s144: "assets/img/homescreen/android-icon-144x144.png",
        s192: "assets/img/homescreen/android-icon-192x192.png"
      },

      // Microsoft
      microsoft: {
        s144: "assets/img/homescreen/ms-icon-144x144.png"
      },

      // iOS
      iOS: {
        default: "assets/img/homescreen/apple-icon.png",
        s57: "assets/img/homescreen/apple-icon-57x57.png",
        s60: "assets/img/homescreen/apple-icon-60x60.png",
        s72: "assets/img/homescreen/apple-icon-72x72.png",
        s76: "assets/img/homescreen/apple-icon-76x76.png",
        s114: "assets/img/homescreen/apple-icon-114x114.png",
        s120: "assets/img/homescreen/apple-icon-120x120.png",
        s144: "assets/img/homescreen/apple-icon-144x144.png",
        s152: "assets/img/homescreen/apple-icon-152x152.png",
        s180: "assets/img/homescreen/apple-icon-180x180.png"
      }
    }
  };

  //- holdTransitionClass
  holdTransitionClass = "alpha x-hold-transition";

  //--- CSS: Main
  cssMain = "assets/css/main.min.css";

  //--- JS: Main
  jsVendor = "assets/js/vendor.min.js";
  jsMain = "assets/js/main.min.js";