@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: #fff;
}

/* grid views method */

.row {
  margin-right: -12px;
  margin-left: -12px;
}

.col-1 {width: 8.3333333%;}
.col-2 {width: 16.3333333%;}
.col-3 {width: 25%;}
.col-4 {width: 33.3333%;}
.col-5 {width: 41.3333%;}
.col-6 {width: 50%;}
.col-7 {width: 58.3333333%;}
.col-8 {width: 66.6666666%}
.col-9 {width: 75.3333333%}
.col-10 {width: 83.3333333%}
.col-11 {width: 91.6666666%}
.col-12 {width: 100.3333333%}
/* /grid views method */

.container {
  max-width: 1120px;
  margin: 0 auto;
}

[class*="col-"]{
  padding: 12px 16px;
}

::selection {
  background-color: #458FF6;
  color: #fff;
}

::-moz-selection {
  background-color: #458FF6;
  color: #fff;
}

.header-area {
  max-width: 100%;
  z-index: 2;
  padding: 14px;
  background-color: #fff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  -
}

.header-area .container::after {
  content: '';
  display: table;
  clear: both;
}

.navbar-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  webkit-box-shadow: 0 8px 16px 1px rgba(0,0,0,.05), 0 3px 14px 3px rgba(0,0,0,.05), 0 4px 5px 0 rgba(0,0,0,.05);
  -moz-box-shadow: 0 8px 16px 1px rgba(0,0,0,.05), 0 3px 14px 3px rgba(0,0,0,.05), 0 4px 5px 0 rgba(0,0,0,.05);
  -o-box-shadow: 0 8px 16px 1px rgba(0,0,0,.05), 0 3px 14px 3px rgba(0,0,0,.05), 0 4px 5px 0 rgba(0,0,0,.05);
  -ms-box-shadow: 0 8px 16px 1px rgba(0,0,0,.05), 0 3px 14px 3px rgba(0,0,0,.05), 0 4px 5px 0 rgba(0,0,0,.05);
  box-shadow: 0 8px 16px 1px rgba(0,0,0,.05), 0 3px 14px 3px rgba(0,0,0,.05), 0 4px 5px 0 rgba(0,0,0,.05);
}

.logo {
  float: left;
}

.nav-menu {
  padding: 12px 8px;
  margin: 0;
  float: right;
}

.nav-list {
  display: inline-block;
  margin-right: 30px;
}

.nav-list:last-child {
  margin-right: 0;
}

.active {
  text-decoration: none;
  color: #1F1534 !important;
  font-weight: 600;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #919191;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}

.nav-link::after {
  margin-top: 2px;
  position: absolute;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #458FF6;
  transform: scaleX(0);
  transform-origin: left center;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav {
  position: relative;
}

/*  ==========  mobile header  ==========  */
.mobile-menu {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 90px;
  width: 32px;
  height: 30px;
  text-indent: -9999em;
  z-index: 1;
  right: 0;
  display: none;
}

.mobile-menu span {
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  width: 20px;
  height: 3px;
  top: 16px;
}

.mobile-menu span:before,
.mobile-menu span:after {
  content: "";
}

.mobile-menu span,
.mobile-menu span::before,
.mobile-menu span::after {
  background-color: #0ea8c4;
  display: block;
  position: absolute;
  right: 0;
}

.mobile-menu span:before {
  height: 3px;
  width: 34px;
  top: -10px;
  -webkit-transform-origin: 10% 100%;
  -moz-transform-origin: 10% 100%;
  -o-transform-origin: 10% 100%;
  -ms-transform-origin: 10% 100%;
  transform-origin: 10% 100%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.mobile-menu span:after {
  height: 3px;
  width: 24px;
  top: 9px;
  -webkit-transform-origin: 10% 0;
  -moz-transform-origin: 10% 0;
  -o-transform-origin: 10% 0;
  -ms-transform-origin: 10% 0;
  transform-origin: 10% 0;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

.mobile-menu.active span,
.mobile-menu.active span:before,
.mobile-menu.active span:after {
  background-color: transparent;
  width: 100%;
}

.mobile-menu.active span:before,
.mobile-menu.active span:after {
  background-color: #0ea8c4;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -ms-transition-delay: .2s;
  transition-delay: .2s;
}

.mobile-menu.active span:before {
  transform: rotate(45deg);
}

.mobile-menu.active span:after {
  transform: rotate(-405deg);
}

@media (max-width: 991.98px) {
  .container {
    margin-left: -12px;
    margin-right: -12px;
  }
  .header-area {
    background-color: #fff;
    padding: 32px 0;
    text-align: left;
  }
  .header-area .mobile-menu {
    display: block;
  }
  .header-logo {
    display: none;
  }
  .header-area .nav-menu {
    display: none;
    padding-top: 40px;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    -ms-transition: all 0s ease;
    transition: all 0s ease;
  }

  .nav-link {
    display: block;
    padding: 16px 0;
    color: #0ea8c4;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
  }
  .header-area .nav-item {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
  }
  .mobile-menu {
    cursor: pointer;
    display: block;
    position: absolute;
    top: -4px;
    right: 0;
    width: 32px;
    height: 30px;
    text-indent: -9999em;
    z-index: 1;
    display: none;
  }
  .header-area:after {
    content: '';
    display: none;
  }
}


.btn {
  display: inline-block;
  padding: 20px 18px;
  min-width: 200px;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
}

/* /header area */

/* banner-area*/
.banner-area {
  font-size: 0;
  padding: 80px 0;
  background-size: 10% 80%;
}

.banner-text {
  width: 560px;
  display: inline-block;
  vertical-align: middle;
}

.banner-title {
  margin: 0 0 25px;
  font-size: 48px;
  font-weight: 700;
}

.banner-desc {
  margin: 0 0 45px;
  color: #7D7987;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
}

.btn-primary {
  background-color: #458FF6;
  color: #fff;
  border: 1px solid transparent;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-primary:hover {
  color: #458FF6;
  background-color: transparent;
  border: 1px solid #458FF6;
}

.btn-secondary {
  background-color: #458FF6;
  color: #fff;
  border: 1px solid transparent;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #458FF6;
  border: 1px solid #458FF6;
}

.banner-image {
  width: 560px;
  display: inline-block;
  vertical-align: middle;
}

.banner-image img {
  display: block;
}

/* /banner-area*/

/*services-area*/
.service-area {
  font-size: 0;
  background-image: url(../img/element/curve1.png);
  background-position: left;
  background-size: 1064px auto;
  background-repeat: no-repeat;
  position: relative;
}

.service-el {
  display: inline-block;
  position: absolute;
  width: 120px;
  bottom: 44%;
  right: 80px;
  z-index: -1;
}

.service-area .container::after {
  display: table;
  content: '';
  clear: both;
}

.service-title {
  text-align: center;
  padding: 80px 0;
}

.service-title h3 {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 40px;
  font-weight: 700;
  color: #2e2e2e;
}

.service-title h3::after {
  margin-top: 20px;
  position: absolute;
  left: 80px;
  content: '';
  display: block;
  height: 2px;
  width: 30%;
  background-color: #000;
}

.service-title p{
  font-size: 18px;
  margin: 0;
  font-weight: 300;
  color: #7D7987;
  line-height: 30px;
}

.service-card {
  float: left;
  padding: 18px;
  background-color: #fff;
  width: 350px;
  height: 355px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 10px 40px 50px 0px rgba(229,233,246,0.4);
}

.card-image {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 110px;
}

.card-image > img {
  position: absolute;
  left: 60px;
  top: 50%;
  width: 50px;
  max-width: inherit;
  display: block;
  -webkit-transform: translate(-50%, -50%) scale(1.5);
  -moz-transform: translate(-50%, -50%) scale(1.5);
  -o-transform: translate(-50%, -50%) scale(1.5);
  transform: translate(-50%, -50%) scale(1.5);
}

.card-text {
  padding: 20px;
}

.card-title {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.card-desc {
  margin: 0;
  font-size: 16px;
  color: #7D7987;
  line-height: 28px;
  font-weight: 300;
}

.service-action {
  padding: 60px 0;
  text-align: center;
}

.btn-secondary {
  border: solid 1px #458FF6;
  background-color: transparent;
  color: #458FF6;
}

.download::after {
  position: relative;
  content: '\f175';
  padding-left: 12px;
  font-family: "fontawesome";
  animation: download-arrow .7s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

@keyframes download-arrow {
  from{
    top: 0px;
  }

  to{
    top: 6px;
  }
}

.provider-area {
  font-size: 0;
  padding: 60px 0;
  position: relative;
}

.provider-el {
  display: inline-block;
  position: absolute;
  width: 120px;
  bottom: 0;
  right: 0;
}

.provider-image {
  width: 650px;
  display: inline-block;
  vertical-align: top;
}

.provider-text {
  padding-left: 40px;
  width: 410px;
  display: inline-block;
  vertical-align: middle;
}

.provider-title {
  font-size: 36px;
  font-weight: 700;
  color: #000;
  margin: 0 0 20px;
  position: relative;
}

.provider-title::after {
  margin: 20px 0;
  left: 0;
  content: '';
  display: block;
  height: 2px;
  width: 56px;
  background-color: #000;
}

.provider-desc {
  color: #7D7987;
  margin: 0 0 36px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
}
/*/services-area*/

/* download area */
.download-area {
  font-size: 0;
  padding: 120px 0;
}

.download-image {
  width: 665px;
  display: inline-block;
  vertical-align: middle;
}

.download-text {
  width: 410px;
  display: inline-block;
  vertical-align: middle;
}

.download-title {
  font-size: 36px;
  font-weight: 700;
  color: #000;
  margin: 0 0 20px;
  position: relative;
}

.download-title::after {
  margin: 20px 0;
  left: 0;
  content: '';
  display: block;
  height: 2px;
  width: 56px;
  background-color: #000;
}

.download-desc {
  color: #7D7987;
  margin: 0 0 36px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
}

/* /download area */

/* testimonials area*/
.testimonials-area {
  color: #fff;
  padding: 120px 0;
  /*background-color: darkgreen;*/
}

/*.testimonials-area .container::after {
  display: table;
  content: '';
  clear: both;
  }*/

  .testi-box {
    position: relative;
    padding: 20px;
    border-radius: 24px;
    background-image: -webkit-linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  }

  .testi-el {
    position: absolute;
    top: 0;
    width: 130px;
    right: 0;
  }

  .testi-el2 {
    position: absolute;
    bottom: 0;
    width: 130px;
    left: 0;
    transform: translateX(-45px);
  }

  .testi-box::after {
    content: '';
    display: table;
    clear: both;
  }

  .testi-title {
    position: relative;
    margin: 0;
    text-align: center;
    padding: 60px 0;
    font-size: 36px;
    font-weight: 700;
    /*background-color: gold;*/
    /*margin: 0 0 20px;*/
  }

  .testi-title::after {
    margin-top: 20px;
    position: absolute;
    left: 46%;
    content: '';
    display: block;
    height: 2px;
    width: 54px;
    background-color: #fff;
  }

  .lead-profile {
    margin: 0;
    /*background-color: salmon;*/
    padding: 30px;
    width: 420px;
    /*border: solid 2px #fff;*/
  }

  .lead-profile::after {
    content: '';
    display: table;
    clear: both;
  }

  .lead-profile img {
    display: block;
    float: left;
    width: 133px;
  }


  .lead-item {
    padding: 20px;
    float: left;
  }

  .lead-item h2, p{
    margin: 0 0 20px;
  }

  .lead-caption {
    margin: 0;
    float: left;
    width: 420px;
  }

  .lead-caption {
    line-height: 30px;
    font-size: 19px;
    font-weight: 400;
  }

  .lead-caption::before{
    content: '';
    display: table;
    clear: both;
  }
  

  /* article area */
  .article-area {
    background-image: url(../img/element/curve2.png);
    background-size: 780px 1060px;
    background-repeat: no-repeat;
    background-position: right top;
    padding: 40px 0;
    /*background-color: salmon;*/
    position: relative;
  }
  .article-el {
    display: inline-block;
    position: absolute;
    left: 4%;
    z-index: -2;
    top: 16%;
    width: 120px;
  }

  .article-area .container::after {
    content: '';
    display: table;
    clear: both;
  }

  .article-title-section {
    text-align: center;
    padding: 40px 0;
  }

  .heading {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 40px;
    font-weight: 700;
    color: #2e2e2e;
  }

  .heading::after {
    margin-top: 20px;
    position: absolute;
    left: 195px;
    content: '';
    display: block;
    height: 2px;
    width: 56px;
    background-color: #000;
  }

  .article-card {
    overflow: hidden;
    margin-right: 20px;
    float: left;
    width: 350px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 40px 50px 0px rgba(229,233,246,0.4);
  }

  .article-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .article-image img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
  }

  .article-image img:hover {
    transform: scale(1.1);
  }

  .article-text {
    padding: 40px 20px;
  }

  .article-title {
    margin: 0 0 20px;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
  }

  .article-desc {
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 300;
    color: #7D7987;
    line-height: 28px;
  }

  .more {
    position: relative;
    display: inline-block;
    color: #458FF6;
    text-decoration: none;
  }

  .more::after {
    position: absolute;
    margin-left: 24px;
    right: -28px;
    bottom: -2px;
    content: '\f178';
    display: block;
    font-family: "fontawesome";
  }

  .more-action {
    padding: 60px 0;
    text-align: center;
  }
  /* /article area */

  /* footer area*/
  .footer-area {
    position: relative;
    color: #fff;
    padding: 120px 0;
    background-image: -webkit-linear-gradient(#67C3F3, #5A98F2);
  }

  .footer-area .container {
    display: table;
    content: '';
    clear: both;
  }

  .footer-company {
    float: left;
    padding-right: 12px;
    width: 390px;
  }

  .footer-logo {
    margin: 0 0 20px;
  }

  .footer-logo img {
    display: block;
    margin: 0;
  }

  .footer-desc {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
  }

  .copyright {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
  }

  .footer-el {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 120px;
    bottom: 0;
  }

  .footer-nav {
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
    list-style: none;
    width: 232px;
  }

  .footer-nav h3 {
    margin: 0 0 30px;
  }

  .footer-list {
    margin: 0 0 20px;
  }

  .footer-list:last-child {
    margin-bottom: 0;
  }

  .footer-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding-bottom: 6px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .footer-link::after {
    margin-top: 4px;
    position: absolute;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .footer-link:hover::after {
    transform: scaleX(1);
    transform-origin: right center;
  }
  /* /footer area*/

