body{
	font-family: sans-serif;
	background-color: #fff;
	color: #fff;
}
.main{
	margin: 0 20px;
}
.main .item{
	padding: 10px 20px;
	margin: 28px 0;
}
.main .item-1{
	background-color: #212121;
}
.main .item-2{
	background-color: #C13535;
}
.main .item-3{
	background-color: #5863C0;
}
.main .item p{
	line-height: 20px;
	font-size: 14px;
}











